@model IEnumerable<Monthley.Models.MonthModels.MonthCategorySpendingDetail>

@{
    ViewBag.Title = $"{Model.First().MonthName} - Budgeted Expense Spending";
}

<h2>@Html.DisplayFor(model => model.First().MonthName) - Expense Spending</h2>
<p>
    @Html.ActionLink("Back to Full Budget", "Details", new { id = Model.First().MonthId }, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryBudgetedAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Spent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpendableRemaining)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryBudgetedAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Spent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpendableRemaining)
        </td>
    </tr>
}

</table>
