@model Monthley.Models.MonthModels.MonthDetail

@{
    ViewBag.Title = "Current Budget";
}

<h2>Monthly Budget</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalBills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalBills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalSaving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalSaving)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalOneTimeExpenses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalOneTimeExpenses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudgetedExpenses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudgetedExpenses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalExpenses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalExpenses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisposableRemaining)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisposableRemaining)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Add an Outgoing Transaction", "Create", "PaymentMade") |
    @Html.ActionLink("Add an Incoming Transaction", "Create", "PaymentReceived") |
    @Html.ActionLink("Transactions", "Transactions", new { id = Model.Id }) |
    @Html.ActionLink("Calendar", "Index")
</p>
