@model Monthley.Models.MonthModels.MonthDetail

@{
    ViewBag.Title = $"{Model.Name}";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <img src='@Url.Action("PieChart", "Month", new { id = Model.Id })' />
</div>
<table>
    <tr>
        @{ if (Model.BeginDate.AddMonths(1) >= DateTime.Now)
            {
                <th>Spendable Money Remaining:&nbsp;&nbsp;</th>
                <td>
                    $@Html.DisplayFor(model => model.DisposableRemaining)
                </td>
            }
            else
            {
                <th>End-of-Month Net:&nbsp;&nbsp;</th>
                <td>
                    $@Html.DisplayFor(model => model.Net)
                </td>
            }
        }
    </tr>
</table>

    @Html.ActionLink("Category Spending", "CategorySpending", "Month", new { id = Model.Id }, new { @class = "btn btn-default" })
    @{ if (Model.BeginDate.Month == DateTime.Now.Month && Model.BeginDate.Year == DateTime.Now.Year)
        {
        <p>
            @Html.ActionLink("Add an Outgoing Transaction", "Create", "PaymentMade", null, new { @class = "btn btn-default" })
            @Html.ActionLink("Add an Incoming Transaction", "Create", "PaymentReceived", null, new { @class = "btn btn-default" })
        </p>
        }
    }

    @Html.ActionLink("Transactions", "Transactions", new { id = Model.Id }, new { @class = "btn btn-default" })
