@model Monthley.Models.MonthModels.MonthDetail

@{
    ViewBag.Title = $"{Model.Name}";
}

<div class="row budget-row text-center">
    <div class="col-md-5">
        <h2 class="month-header">@Html.DisplayFor(model => model.Name)</h2>
        <br />
        <hr class="custom-hr" />
        <br />
        <br />
        @Html.ActionLink("Budgeted Spending Breakdown", "CategorySpending", "Month", new { id = Model.Id }, new { @class = "btn btn-default btn-budget-view" })
        @if (TempData.ContainsKey("LoadCategorySpendingResult"))
        {
            <div class="alert alert-success fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span>&times;</span>
                </button>
                @TempData["LoadCategorySpendingResult"]
            </div>
        }
        <br />
        <br />
        <br />
        @Html.ActionLink("View All Transactions", "Transactions", new { id = Model.Id }, new { @class = "btn btn-default btn-budget-view" })
        @if (TempData.ContainsKey("LoadTransactionsResult"))
        {
            <div class="alert alert-success fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span>&times;</span>
                </button>
                @TempData["LoadTransactionsResult"]
            </div>
        }
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="spendable-or-net">
            @{ if (Model.BeginDate.AddMonths(1) >= DateTime.Now)
                {
                    <div class="amount-label">Spendable Money Remaining</div>
                    <br />
                    <div class="amount"><small>$</small> @Html.DisplayFor(model => model.DisposableRemaining)</div>
                }
                else
                {
                    <div class="col-md-8 disposableRemaining">End-of-Month Net:</div>
                    <br />
                    <div class="col-md-4 amount"><small>$</small> @Html.DisplayFor(model => model.Net)</div>
                }
            }
            <br />
            <br />
            <br />
            <br />
            <br />
            @{ if (Model.BeginDate.Month == DateTime.Now.Month && Model.BeginDate.Year == DateTime.Now.Year)
                {
                    <p>
                        @Html.ActionLink("Report Money Spent", "Create", "PaymentMade", null, new { @class = "btn btn-default", style = "font-size:16pt; background-color:#F99677;" }) &nbsp;&nbsp;
                        @Html.ActionLink("Report Money Received", "Create", "PaymentReceived", null, new { @class = "btn btn-default", style = "font-size:16pt; background-color:#68E03A;" })
                    </p>
                }
            }
        </div>
    </div>

    <div class="col-md-7">
        <img src='@Url.Action("PieChart", "Month", new { id = Model.Id })' />
    </div>
</div>