@model IEnumerable<Monthley.Models.MonthModels.TransactionListItem>

@{
    ViewBag.Title = "Transactions";
}

<h2>@Html.DisplayFor(model => model.First().MonthName) - Reported Transactions</h2>

<p>
    @Html.ActionLink("Add an Outgoing Transaction", "Create", "PaymentMade", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Add an Incoming Transaction", "Create", "PaymentReceived", null, new { @class = "btn btn-default" })
</p>
<p>
    @Html.ActionLink("Back to Full Budget", "Details", new { id = Model.First().MonthId }, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryOrSourceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryOrSourceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", $"{item.ControllerName}", new { id = item.TransactionId }, new { @class = "btn btn-default" })
                @Html.ActionLink("Delete", "Delete", $"{item.ControllerName}", new { id = item.TransactionId }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>
