@{
    ViewBag.Title = "monTHLey";
}

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>monTHLey</h1>
            <p class="lead">...sailing the high seas of personal budgeting.</p>
        </div>
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="row" style="text-align: center">
        <div class="col-md-4">
            <p>
                @Html.ActionLink("Setup Wizard", "Welcome", "Account", null, new { @class = "btn btn-default home-button" })
            </p>
        </div>
        <div class="col-md-4">
            <p>
                @Html.ActionLink("How It Works", "HowItWorks", null, new { @class = "btn btn-default home-button" })
            </p>
        </div>
        <div class="col-md-4">
            <p>@Html.ActionLink("More Info", "MoreInfo", null, new { @class = "btn btn-default home-button" })</p>
        </div>
    </div>
}
else
{
    <div class="row" style="text-align: center">
        <div class="col-md-3">
            <p>
                @Html.ActionLink("Sign Up!", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-default home-button" })
            </p>
        </div>
        <div class="col-md-3">
            <p>
                @Html.ActionLink("How It Works", "HowItWorks", null, new { @class = "btn btn-default home-button" })
            </p>
        </div>
        <div class="col-md-3">
            <p>
                @Html.ActionLink("Take a Test Drive", "TestDrive", "Home", null, new { @class = "btn btn-default home-button" })
            </p>
        </div>
        <div class="col-md-3">
            <p>@Html.ActionLink("More Info", "MoreInfo", null, new { @class = "btn btn-default home-button" })</p>
        </div>
    </div>
}
