@model Monthley.Models.ExpenseModels.ExpenseCreate

@{
    ViewBag.Title = "Budgeted Expenses";
}

<h2>Add a Budgeted Expense</h2>

<p>Add a budgeted monthly expense.</p>
<p>These are things you know you will spend money on each month, but amounts vary.</p>
<p>Examples are things like groceries, transportation expenses like gasoline or public transportation and entertainment. Feel free to get detailed and add things like haircuts, car washes, or new clothes.</p>
<p>If you didn't have budget billing set up for a utility like electricity, gas, or water, this is the place to add those utilities.</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.CategoryType)

        <div class="col-md-2"></div>
        <div class="col-md-10">
            <small>Enter a brief description of the expense (Ex. <i>Groceries</i> or <i>Entertainment</i>)</small>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-2"></div>
        <div class="col-md-10">
            <small>Enter the amount you plan to spend each month on this expense</small>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            <div class="col-md-6"><b>How often are you budgeting to spend this much on the category?</b></div>
            <div class="col-md-6"></div>
            <br />
        </div>
        <table>
            <tr>
                <td class="col-md-1 text-right"></td>
                <td class="col-md-1 text-right"><small>Ex: &nbsp;<i>Every</i></small></td>
                <td class="col-md-1 text-center"><small><i>1</i></small></td>
                <td class="col-md-3">&nbsp;&nbsp;<small><i>month(s)</i></small></td>
                <td class="col-md-6"></td>
            </tr>

            <tr>
                <td class="col-md-1 text-right"></td>
                <td class="col-md-1 text-right"><small>Ex: &nbsp;<i>Every</i></small></td>
                <td class="col-md-1 text-center"><small><i>4</i></small></td>
                <td class="col-md-3">&nbsp;&nbsp;<small><i>week(s)</i></small></td>
                <td class="col-md-6"></td>
            </tr>

            <tr>
                <td class="col-md-1"></td>
                <td class="col-md-1 text-right">Every</td>
                <td class="col-md-1">
                    @Html.EditorFor(model => model.FrequencyFactor, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td class="col-md-3">
                    @Html.EnumDropDownListFor(model => model.ExpenseFreqType, "-- Select --", new { @class = "form-control", @id = "expenseFreqType" })
                </td>
                <td class="col-md-6"></td>
            </tr>

            <tr>
                <td class="col-md-1"></td>
                <td class="col-md-1"></td>
                <td class="col-md-1">
                    @Html.ValidationMessageFor(model => model.FrequencyFactor, "", new { @class = "text-danger" })
                </td>
                <td class="col-md-3"></td>
                <td class="col-md-6"></td>
            </tr>
        </table>
        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}